@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,500'); */
@import url('./material-icons.css');

.app-body, html {
    height: 100%;
}

html * {
    font-family: 'Roboto', sans-serif;
}



.app-wrapper {
    max-width: 84%;
    max-height: 90%;
    display: flex;
}

@media only screen and (min-width: 1380px) {
    .app-wrapper {
        max-width: 98%;
    }

    #button-free-drawing{
        margin-top: 50px;
    }
}

.left-pane-container {
    flex-grow: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.app-shapes {
    display: flex;
    flex-wrap: wrap;
}
.shapes-img {
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
}

.rectangle-img {
    width: 100px;  /* Or whatever */
    height: 80px; /* Or whatever */
    margin: auto;
}

.circle-img {
    width: 90px;  /* Or whatever */
    height: 80px; /* Or whatever */
    margin: auto;
}

.ellipse-img {
    width: 100px;  /* Or whatever */
    height: 60px; /* Or whatever */
    margin: auto;
}


.right-pane-container {
    flex-grow: 1;
    /*background-color: #32503b;*/
    height: 100%;
    /*width: 90%;*/
    min-width: 80%;
    flex-direction: row;

}

.top-menu-container {
    width: 100%;
    min-height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    border-radius: 2px;
    overflow: hidden;
    z-index: 10;
    flex-shrink: 1;
}

.bottom-menu-container {
    margin-top: 20px;
    margin-left: 15px;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    display: flex;
}

.color-picker-container{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-container {
    width: 100%;
}



#canvascontainer {

    margin-left: 5px;
}

.canvas-container {
    border: 1px solid #e15960;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;

}


